/* Full page */

.my-body {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 20px;
  background-color: blue;
  font-size: 14px;
  margin: 0;
  border-collapse: collapse;
}
.timeline {
  grid-column: -1/-2;
  grid-row: 1/-1;
}

/* sections */
section {
  background-color: white;
  padding: 20px 10px;
}
.section-title {
  color: blue;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid gray 2px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

/* section content */
.content {
  padding-top: 8px;
  padding-bottom: 15px;
}
.my-h2 {
  font-size: 14px;
  color: black;
  padding-bottom: 4px;
}
.grid1 {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.my-ul {
  list-style-type: none;
  padding: 0;
}
.goal {
  border-bottom: solid gray 1px;
}
.scope {
  padding-bottom: 10px;
}

/* icon */
.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
}
.icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

